<div>
    <h2 translate="tools.credentials.title">Credentials Details</h2>

    <p translate="tools.credentials.intro">All the details about your credentials</p>

    <tabset>
        <tab>
            <tab-heading>
                <span translate="tools.credentials.details.title">Details</span>
            </tab-heading>

            <p translate="tools.credentials.details.intro"></p>

            <div class="row">
                <div class="col-md-6">
                    <h3 translate="tools.credentials.group.login.title">Login Details</h3>

                    <dl class="dl-horizontal">
                        <dt translate="global.values.username.label">Username</dt>
                        <dd>{{loginDetails.login}}</dd>

                        <dt translate="global.values.firstname.label">First Name</dt>
                        <dd>{{loginDetails.first_name}}</dd>

                        <dt translate="global.values.lastname.label">Last Name</dt>
                        <dd>{{loginDetails.last_name}}</dd>

                        <dt translate="global.values.email.label"></dt>
                        <dd>{{loginDetails.email}}</dd>

                        <dt translate="global.values.phone.label"></dt>
                        <dd>{{loginDetails.phone_number}}</dd>

                        <dt translate="tools.credentials.group.login.values.admin.label">Is Admin</dt>
                        <dd>{{loginDetails.is_admin}}</dd>

                        <dt translate="tools.credentials.group.login.values.changepassword.label">Due Password Change?</dt>
                        <dd>{{loginDetails.must_change_password}}</dd>

                        <dt translate="tools.credentials.group.login.values.temp.label">Temporary?</dt>
                        <dd>
                            {{loginDetails.is_temp}}
                            <span ng-if="loginDetails.is_temp">
                                (
                                <span translate="tools.credentials.group.login.values.temp.startdate">Start</span>:  {{loginDetails.temp_start_date}};
                                <span translate="tools.credentials.group.login.values.temp.enddate">Finish</span>: {{loginDetails.temp_end_date}};
                                )
                            </span>
                        </dd>
                    </dl>
                </div>

                <div class="col-md-6">
                    <h3 translate="tools.credentials.group.groups.title">Your Groups</h3>

                    <ul ng-repeat="group in groups track by $index" ng-show="groups.length > 0">
                        <li>{{group}}</li>
                    </ul>

                    <p ng-show="groups.length === 0" translate="tools.credentials.group.groups.norecords"></p>
                </div>
            </div>
        </tab>

        <tab>
            <tab-heading>
                <span translate="tools.credentials.company.title">Security Settings</span>
            </tab-heading>

            <p translate="tools.credentials.company.intro">This is a one stop shop for all the API details that are related directly to the user you are using.</p>

            <div class="row">
                <div class="col-md-6">
                    <h3 translate="tools.credentials.company.group.endpoint.title">Endpoint</h3>

                    <dl class="dl-horizontal">
                        <dt translate="tools.credentials.company.group.endpoint.label">Endpoint to use</dt>
                        <dd>{{endpoint}}</dd>
                    </dl>
                </div>

                <div class="col-md-6">
                    <h3 translate="tools.credentials.company.group.versionAccess.title">Version Access</h3>

                    <ul ng-repeat="version in versionAccess">
                        <li>{{version}}</li>
                    </ul>
                </div>
            </div>
        </tab>
    </tabset>
</div>